/* Hide the telephone number */
div.top-bar {
  display: none !important;
}

/* Hide the copyright */
div.footer-copyrights {
  display: none !important;
}

/* Link to Biddenham new Parish Council website */
.new-biddenham-pc-website {
  padding: 1em 1em 0.25px 1em;
  margin: 0px 0px 1em 0px;
  border-radius: 5px;
  background-color: #f0f1f2;
  border: 0.5px #999 solid;
}

/* Rounded edges on imagery */
img.rounded,
img.card-img {
  border-radius: 10px !important;
}

@media (max-width: 768px) {
  img.rounded,
  img.card-img {
    border-radius: 0 !important;
  }
}
/* Galleries */
.section--galleries .gallery-title {
  padding-bottom: 1em !important;
}

/* Typography */
h2,
h3 {
  padding-bottom: 0px !important;
  margin-bottom: 0.5em !important;
  margin-top: 1.5em;
}

/* Underlines on footers */
footer a {
  text-decoration: underline !important;
}

footer a:hover {
  text-decoration: none !important;
}

/* Underlines on links */
article.page a {
  text-decoration: underline !important;
}

article.page a:hover {
  text-decoration: none !important;
}

/* Captions */
figcaption.wp-element-caption {
  text-align: center !important;
}

.mt1 {
  margin-top: 1rem;
}

.mb1 {
  margin-bottom: 1rem;
}

/* Contact icons */
div.icon,
p.icon {
  background-repeat: no-repeat;
  background-size: 24px 24px;
  padding-left: 30px;
  margin-bottom: 0.5em;
}

div.website,
p.website {
  background-image: url("/wp-content/uploads/2025/06/web-icon.webp");
}

div.facebook,
p.facebook {
  background-image: url("/wp-content/uploads/2025/06/facebook-icon.webp");
}

div.email,
p.email {
  background-image: url("/wp-content/uploads/2025/06/mail-icon.webp");
}

div.phone,
p.phone {
  background-image: url("/wp-content/uploads/2025/06/phone-icon.webp");
}

div.person,
p.person {
  background-image: url("/wp-content/uploads/2025/06/person-icon.webp");
}

div.video,
p.video {
  background-image: url("/wp-content/uploads/2025/06/video-icon.webp");
}

/* lists */
article.page ul,
article.page ol {
  margin-left: 0px;
  padding-left: 0px;
}

article.page ul {
  list-style-type: square;
}

article.page ul li,
article.page ol li {
  margin-left: 1em;
  padding-left: 0px;
  margin-bottom: 0.25em;
}

article.page ul li::marker {
  color: #2868a8;
}

article.mb-5 footer {
  display: none;
}

/* Peter's Picturehouse */
body.page-id-4624 main.site-main,
body.page-id-7637 main.site-main {
  background-image: url("/wp-content/uploads/2025/06/picture-house-background.webp");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top left;
}

body.page-id-4624 div.entry-content,
body.page-id-7637 div.entry-content {
  margin: 6em 4em 2em 4em;
}

@media (max-width: 768px) {
  body.page-id-4624 main.site-main,
  body.page-id-7637 main.site-main {
    background: none;
  }
  body.page-id-4624 div.entry-content,
  body.page-id-7637 div.entry-content {
    margin: auto;
  }
}
/* IMDB badge for Peter's Picture House */
div.imdb {
  background-repeat: no-repeat;
  background-size: 40px 20px;
  padding-left: 50px;
  padding-bottom: 3px;
  background-image: url("/wp-content/uploads/2025/06/imdb.webp");
}

/* Custom imagery for small devices - Peter's picture house */
@media (max-width: 768px) {
  img.film-poster {
    width: 30% !important;
    height: auto !important;
  }
}
@media (max-width: 540px) {
  img.film-poster {
    display: none;
  }
}
section#tribe-events p,
section#tribe-events div,
section#tribe-events ul,
section#tribe-events li,
section#tribe-events ol {
  font-size: 16px !important;
  font-family: "Source Sans Pro";
}
section#tribe-events h1,
section#tribe-events h2,
section#tribe-events h3,
section#tribe-events h4 {
  font-family: "Source Sans Pro";
  color: #2868a8;
}
section#tribe-events ul.tribe-events-meta-list {
  padding-left: 0;
  margin-left: 0;
}
section#tribe-events ul.tribe-events-meta-list li {
  padding-left: 0;
  margin-left: 0;
}

/* Back button on events */
.tribe-events-back a {
  color: #ffffff !important;
  text-decoration: none !important;
}

/* Standardise fonts on events */
div#tribe-events-content h1.tribe-events-single-event-title {
  font-family: "Source Sans Pro";
}

div#tribe-events-content div,
div#tribe-events-content p {
  font-family: "Source Sans Pro";
}

/* Icons for events */
div.tribe-events-schedule .tribe-event-date-start {
  background-repeat: no-repeat;
  background-size: 24px 24px;
  padding-left: 30px;
  padding-bottom: 3px;
  background-image: url("/wp-content/uploads/2025/06/date-icon.webp");
}

.tribe-events-cost {
  background-repeat: no-repeat;
  background-size: 24px 24px;
  padding-left: 30px;
  padding-bottom: 3px;
  background-image: url("/wp-content/uploads/2025/06/price-icon.webp");
}

.ecs-event-list .ecs-event a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}

/* Start home page event list */
ul.ecs-event-list {
  padding-left: 1em;
}

ul.ecs-event-list li.ecs-event {
  margin-left: 0px !important;
  padding-left: 0px !important;
  margin-bottom: 1em;
}

ul.ecs-event-list li.ecs-event h4,
ul.ecs-event-list li.ecs-event a {
  font-family: "Source Sans Pro";
  font-size: 16px;
  line-height: 1.3em;
}

ul.ecs-event-list li.ecs-event h4 {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

ul.ecs-event-list li.ecs-event .duration.time {
  color: antiquewhite;
}

/* End home page event list */
/* Sidebars */
.well .card-body .widget-title {
  margin-top: 0px;
  padding-bottom: 0.75rem !important;
}

.well .card-body .p-3 {
  padding: 0 !important;
}

.well .card-body ul {
  margin-top: 0px !important;
  padding-top: 0px !important;
  margin-bottom: 1em !important;
}

.well .card-body ul li {
  border-top: 0px !important;
}

.well .card-body ul li a {
  padding: 0.5rem 0 0 0;
}

.well .card-body ul li:before {
  background-position: 0 0.8rem;
}

/* News */
span.byline {
  display: none;
}

.clear-both {
  clear: both;
  float: none;
}

/* In-page navigation / table of contents */
ul.toc {
  list-style-type: disc;
  margin: 0px;
}

/* In-page anchor adjustment  */
:root {
  scroll-padding-top: 50px !important;
}

/* Display of links to news stories in categories */
.well .card-body ul li a {
  display: inline-block;
}

/* Quiz flyer starts */
div.quiz {
  width: 100%;
  aspect-ratio: 190/277;
  position: relative;
  background-image: url("https://biddenham.org.uk/wp-content/uploads/2025/06/quiz-flyer-background.webp");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top left;
}

.full-width {
  width: 100%;
}

#quiz1 {
  position: absolute;
  top: 1%;
}

#quiz2 {
  position: absolute;
  top: 10%;
}

#quiz3 {
  position: absolute;
  top: 19%;
}

#quiz4 {
  position: absolute;
  top: 68%;
}

#quiz5 {
  position: absolute;
  top: 80%;
}

#quiz6 {
  position: absolute;
  top: 84%;
}

#quiz7 {
  position: absolute;
  top: 89%;
}

#quiz8 {
  position: absolute;
  top: 96%;
}

.centered {
  text-align: center;
}

.glow-text {
  padding: 0px !important;
  margin: 0px !important;
  color: white;
  font-size: 2rem;
  text-shadow: 0 0 8px #ff7fff, 0 0 16px #ff7fff, 0 0 24px #ff7fff;
}

.quiz-white {
  padding: 0px !important;
  margin: 0px !important;
  color: white !important;
}

.upper {
  text-transform: uppercase;
}

.quiz-medium {
  line-height: 1em;
}

.quiz-large {
  line-height: 1em;
}

.quiz-huge {
  line-height: 1em;
}

/* Large devices  */
@media (min-width: 1024px) {
  .quiz-medium {
    font-size: 2.5rem !important;
  }
  .quiz-large {
    font-size: 2.7rem !important;
  }
  .quiz-huge {
    font-size: 7.5rem !important;
  }
}
/* Medium devices  */
@media (min-width: 769px) and (max-width: 1023px) {
  .quiz-medium {
    font-size: 1.2rem !important;
  }
  .quiz-large {
    font-size: 2em !important;
  }
  .quiz-huge {
    font-size: 4rem !important;
  }
}
/* Small devices  */
@media (min-width: 450px) and (max-width: 768px) {
  .quiz-medium {
    font-size: 0.8rem !important;
  }
  .quiz-large {
    font-size: 1.2rem !important;
  }
  .quiz-huge {
    font-size: 3.3rem !important;
  }
}
/* Tiny devices  */
@media (max-width: 449px) {
  .quiz-medium {
    font-size: 0.6rem !important;
  }
  .quiz-large {
    font-size: 0.9rem !important;
  }
  .quiz-huge {
    font-size: 2.4rem !important;
  }
}
/* Quiz flyer ends */
/* Start bin days component */
.bin-collection {
  background-color: #f0f0f0;
  /* padding: 0px 1em 1em 1em; */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.bin-collection h2 {
  padding-top: 0px !important;
  margin-top: 0px !important;
}

.bin-results {
  display: flex;
  align-items: center;
}

#bin-image {
  float: left;
  max-width: 64px;
  padding: 0px;
  margin-right: 1em;
}

#next-event {
  align-items: center;
  float: left;
  margin-top: auto;
  margin-bottom: auto;
}

.clearer {
  clear: both;
}

/* End bin days component */
figure.conservation-volunteers table {
  border: 0;
}
figure.conservation-volunteers table thead,
figure.conservation-volunteers table tbody {
  border: 0;
}
figure.conservation-volunteers table thead th:first-child {
  border-top-left-radius: 10px;
}
figure.conservation-volunteers table thead th:last-child {
  border-top-right-radius: 10px;
}
figure.conservation-volunteers table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
figure.conservation-volunteers table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
figure.conservation-volunteers table tr th {
  background-color: #a7c46d !important;
  color: white !important;
  font-weight: bold !important;
}
figure.conservation-volunteers table tr th,
figure.conservation-volunteers table tr td {
  border: 0;
  border-right: 1px #738f3a solid;
  vertical-align: middle;
}
figure.conservation-volunteers table tr th:last-child,
figure.conservation-volunteers table tr td:last-child {
  border-right: 0;
}

body.page-id-8836 .page-title-bar {
  display: none;
}

.home-posts {
  margin-left: 1rem !important;
  padding-left: 0 !important;
  list-style: square !important;
}
.home-posts li {
  padding-left: 1.5em;
  margin-left: 0 !important;
}

.home-events {
  margin-left: 1rem !important;
  padding-left: 0 !important;
  list-style: square !important;
}
.home-events li {
  padding-left: 1.5em;
  margin-left: 0 !important;
}
.home-events li a {
  color: #2868a8 !important;
}
.home-events li span.duration {
  font-size: 0.8rem;
}
.home-events li span.duration em {
  font-style: normal;
}
.home-events li span.duration.time {
  color: black !important;
}
.home-events li span.duration.venue {
  color: black !important;
}

div.standard-button a {
  text-decoration: none !important;
}
div.standard-button a:hover {
  color: white !important;
  background-color: #00b3e3 !important;
}

h1.welcome-heading {
  background-color: #2868a8;
  color: white;
  padding: 1vw !important;
}

p.welcome-paragraph {
  padding-left: 1vw !important;
  padding-right: 1vw !important;
}

figure.cricket table thead tr th {
  background-color: #2868a8;
  color: white;
  text-align: left;
  font-weight: bold;
  border: 1px solid #2868a8 !important;
}
figure.cricket table tbody tr td {
  text-align: left;
  border: 1px solid #2868a8;
  background-color: white;
}
figure.cricket table tbody tr:nth-child(even) td {
  background: #f0f0f0;
}
figure.cricket table tbody tr:hover td {
  background: #ededff;
}

figure.biddenham-table table {
  max-width: 960px;
}
figure.biddenham-table table thead,
figure.biddenham-table table tbody,
figure.biddenham-table table tfoot {
  border: 0 !important;
}
figure.biddenham-table table tr th {
  background-color: #2868a8;
  padding: 0.5rem !important;
  color: white !important;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
}
figure.biddenham-table table tr th:first-child {
  border-top-left-radius: 5px;
}
figure.biddenham-table table tr th:last-child {
  border-top-right-radius: 5px;
}
figure.biddenham-table table tr td {
  background-color: white !important;
  padding: 0.5rem !important;
  border-left: 0;
  border-right: 0;
  border-top: 0 !important;
  border-bottom: 1px #2868a8 solid !important;
}
figure.biddenham-table table tr:hover td {
  background-color: #f0f0f0 !important;
}
