@use "variables" as v;
$card-gap-normal: 1rem;

/* Begin custom card styling */

.custom-card {
    .wp-block-columns {
        gap: $card-gap-normal !important;
        align-items: flex-start;
    }
}

.custom-card {
    display: flex;
    align-items: flex-start;
    // gap: $card-gap-normal !important;

    .custom-card-image-column {
        flex: 1 1 0% !important;
        min-width: 0;

        figure {
            img {
                border-radius: 10px;

                @media (max-width: v.$mid-breakpoint) {
                    border-radius: 5px;
                }
            }

            img {
                transition: transform 0.3s ease-in-out;
                cursor: pointer;
                backface-visibility: hidden;
            }

            @media (hover: hover) {
                img:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
    .custom-card-text-column {
        flex: 2 1 0% !important;
        min-width: 0;

        // background-color: papayawhip;
        padding-right: 10px;
        margin: 0px;
        padding: 0px;

        h3 {
            color: v.$dark-blue;
            padding-top: 0px !important;
            margin-top: 0px !important;
            margin-bottom: 0.125rem !important;

            @media (max-width: v.$mid-breakpoint) {
                padding-bottom: 0px !important;
                margin-bottom: 0px !important;
            }
        }

        p {
            margin-bottom: 0.25rem;
            padding-bottom: 0px;
            line-height: 1.4rem !important;

            @media (max-width: v.$mid-breakpoint) {
                line-height: 1.25rem !important;
                font-size: 90%;
            }
        }

        a {
            color: v.$dark-blue;
        }
        a:hover {
            color: v.$maroon !important;
        }
    }
}
/* End custom card styling */
