@use "./variables" as v;

/* Rounded edges on imagery */
figure.rounded {
    img {
        border-radius: 10px !important;
    }
}

img.rounded,
img.card-img {
    border-radius: 10px !important;
}

@media (max-width: v.$mobile-breakpoint2) {
    figure.rounded img,
    img.rounded,
    img.card-img {
        border-radius: 0 !important;
    }
}
