@use "sass:math";

/* Hide the telephone number */
div.top-bar {
    display: none !important;
}

/* Hide the copyright */
div.footer-copyrights {
    display: none !important;
}

/* Link to Biddenham new Parish Council website */
.new-biddenham-pc-website {
    padding: 1em 1em 0.25px 1em;
    margin: 0px 0px 1em 0px;
    border-radius: 5px;
    background-color: #f0f1f2;
    border: 0.5px #999 solid;
}

// Margin top and bottom in 0.5 rem increments
$start: 0.5;
$end: 5;
$step: 0.5;

$i: $start;

@while $i <= $end {
    $name: $i;
    @if $i % 1 != 0 {
        // Updated to use the math module
        $name: #{math.floor($i)}_5;
    }

    .mt-#{$name} {
        margin-top: #{$i}rem;
    }

    .mb-#{$name} {
        margin-bottom: #{$i}rem;
    }

    $i: $i + $step;
}
