/* Begin menus */
nav.primary-navigation {
    ul {
        li {
            span {
                font-family: "Source Sans Pro" !important;
                font-weight: normal !important;
            }
        }
    }
}
/* End menus */
