@use "variables" as v;

/* Begin menus */
nav.primary-navigation {
    ul {
        li {
            span {
                font-family: "Source Sans Pro" !important;
                font-weight: normal !important;
            }
        }
    }
}
/* End menus */

/* Specials */

li#menu-item-11764 {
    a {
        background-color: v.$hover;
    }
    a:hover {
        background-color: v.$maroon;
        color: white;

        span {
            color: white;
        }
    }
}

/* End specials */
