/* News */
span.byline {
    display: none;
}

.clear-both {
    clear: both;
    float: none;
}

/* In-page navigation / table of contents */
ul.toc {
    list-style-type: disc;
    margin: 0px;
}

/* In-page anchor adjustment  */
:root {
    scroll-padding-top: 50px !important;
}

/* Display of links to news stories in categories */
.well .card-body ul li a {
    display: inline-block;
}

/* Start - For the latest posts component / block */
article.page {
    .wp-block-latest-posts__list,
    .wp-block-latest-posts {
        margin-left: 0 !important;
        padding-left: 0 !important;

        li {
            margin-left: 0 !important;
            padding-left: 0 !important;
            margin-bottom: 1rem !important;
        }
    }
}

/* End - For the latest posts component / block */

/* To get the date in a post list onto a new line */
div.card-body {
    .post-date {
        display: block;
    }
}
