.roadworks-table {
    th:nth-child(3),
    td:nth-child(3),
    th:nth-child(2),
    td:nth-child(2) {
        white-space: nowrap; /* Prevent wrapping */
        // background-color: yellow;
    }
}
