/* Sidebars */
.well .card-body .widget-title {
    margin-top: 0px;
    padding-bottom: 0.75rem !important;
}

.well .card-body .p-3 {
    padding: 0 !important;
}

.well .card-body ul {
    margin-top: 0px !important;
    padding-top: 0px !important;
    margin-bottom: 1em !important;
}

.well .card-body ul li {
    border-top: 0px !important;
}

.well .card-body ul li a {
    padding: 0.5rem 0 0 0;
}

.well .card-body ul li:before {
    background-position: 0 0.8rem;
}
