// Colours
$dark-grey: #333333;
$dark-blue: #2868a8;
$dark-blue-tint-10: #eaf0f6;
$dark-blue-tint-50: #93b3d3;
$rich-blue: #00b3e3;
$silver: #f7f7f7;
$terrarial: #dbd6b6;
$maroon: #762e4c;

// Breakpoints
$large-breakpoint: 1200px;
$mobile-breakpoint: 800px;
$mobile-breakpoint2: 782px;
$mid-breakpoint: 992px;
$lower-snap-breakpoint: 576px;

// Pages
$page-church: ".page-id-722";
$page-bga: ".page-id-907";
$page-cricket: ".page-id-917";
$page-tennis: ".page-id-919";
$page-picturehouse1: ".page-id-4624";
$page-picturehouse2: ".page-id-7637";
