// Colours
$dark-grey: #333333;
$dark-blue: #2868a8;
$dark-blue-tint-10: #eaf0f6;
$dark-blue-tint-50: #93b3d3;
$rich-blue: #00b3e3;
$silver: #f7f7f7;
$terrarial: #dbd6b6;
$maroon: #762e4c;

// Breakpoints
// 992 is the go to mobile breakpoint
$mobile-breakpoint: 800px;
$mobile-breakpoint2: 782px;
$mid-breakpoint: 992px;
$lower-snap-breakpoint: 576px;
// $upper-snap-breakpoint: 768px;
